<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="/static/css/index-style.css">

</head>

<body>

    <div class="title_and_tags">
        <h1>Arnav's Recipe Page</h1>
        <p>Welcome to my recipe page! I've made this website to store all of the recipes I have learned so far, and to build my programming skills!</p> 

        <div class="explore_block">
            <button class="explore_title">EXPLORE:</button>
            <button><a href="">BREAKFASTS</a></button>
            <button><a href="">MEALS</a></button>
            <button><a href="">DESSERTS</a></button>
            <button><a href="">SNACKS</a></button>
            <button><a href="">DRINKS</a></button>
        </div>
    </div>

    <div class="recent_posts">

        <div class="left">
            <div class="card">
                <div class="image"><img src="/static/pics/tomato.webp"></div>
                <div class="recipe_info">
                    <p class="recipe_type">BREAKFAST</p>
                    <p class="recipe_name"><a href="#">Homemade Pancakes</a></p>
                    <p class="cooking_time">⌛ 15 mins</p>
                </div>
            </div>
            <div class="card">
                <div class="image"><img src="/static/pics/pancakes.jpeg"></div>
                <div class="recipe_info">
                    <p class="recipe_type">BREAKFAST</p>
                    <p class="recipe_name"><a href="#">Homemade Pancakes</a></p>
                    <p class="cooking_time">⌛ 15 mins</p>
                    
                </div>
            </div>
        </div>

        <div class="right">
            <div class="card">
                <div class="image"><img src="/static/pics/tomato.webp"></div>
                <div class="recipe_info" style="margin-top: 30px; margin-left: 30px;">
                    <p class="recipe_type">BREAKFAST</p>
                    <p class="recipe_name"><a href="#">Homemade Pancakes</a></p>
                    <p class="cooking_time">⌛ 15 mins</p></div>
            </div>
        </div>

    </div>

</body>

</html>